<!--========-->
<!-- Sidebar -->
<!--========-->
<div class="main-header-left d-none d-lg-block">
    <div class="logo-wrapper">
        <a href="javascript:void(0)">
            <img class="blur-up lazyloaded" [src]="shopLogoPath" alt="sidebar-sahosoft mall">
        </a>
    </div>
</div>
<div class="sidebar custom-scrollbar">
    <div class="sidebar-user text-center">
        <div><img class="img-60 rounded-circle" [src]="userImagePath" alt="sidebar-user">
        </div>
        <h6 class="mt-3 f-14">{{userDetails.firstName +' '+userDetails.lastName}}</h6>
        <p>{{userDetails.email}}</p>
    </div>
    
    <!------------------>
    <!-- Sidebar Menu -->
    <!------------------>
    <!-- Making this code more generalized to bind menuItems data from the MenuService or API calls -->
    <!-- MenuTypes: menu | link | button -->
    <!-- MenuLevels: 1st level (parentMenu) | 2nd level (childMenu) | 3rd level (childrenMenu)-->
    <!--______________-->
    <!-- parent: Menu -->
    <!--______________-->
    <ul class="sidebar-menu">
        <li *ngFor="let menuItem of sidebarMenuItems" [class.active]="menuItem.active">
            <!-- itemType: link -->
            <a class="sidebar-header" *ngIf="menuItem.itemType==='link'" [routerLink]="menuItem.routePath" routerLinkActive="active">
                <app-feather-icon [icon]="menuItem.icon"></app-feather-icon> <span>{{menuItem.title}}</span>
            </a>
            <!-- itemType: menu -->
            <a class="sidebar-header" href="javascript:void(0)" *ngIf="menuItem.itemType==='menu'" (click)="openSubMenu(menuItem)">
                <app-feather-icon [icon]="menuItem.icon"></app-feather-icon> <span>{{menuItem.title}}</span>
                <i class="fa fa-angle-right pull-right"></i>
            </a>
            <!-- itemType: button -->
            <a class="sidebar-header" href="javascript:void(0)" *ngIf="menuItem.itemType==='button'" (click)="performAction(menuItem.actionName)">
                <app-feather-icon [icon]="menuItem.icon"></app-feather-icon> <span>{{menuItem.title}}</span>
            </a>

            <!--___________________-->
            <!-- children: subMenu -->
            <!--___________________-->
            <ul class="sidebar-submenu" *ngIf="menuItem.children" [class.menu-open]="menuItem.active">
                <li *ngFor="let childItem of menuItem.children" [class.active]="childItem.active">
                    <!-- itemType: link -->
                    <a *ngIf="childItem.itemType==='link'" [routerLink]="childItem.routePath" routerLinkActive="active">
                        <i class="fa fa-circle"></i> <span>{{childItem.title}}</span>
                    </a>
                    <!-- itemType: menu -->
                    <a href="javascript:void(0)" *ngIf="childItem.itemType==='menu'" (click)="openSubMenu(childItem)">
                        <i class="fa fa-circle"></i> <span>{{childItem.title}}</span>
                        <i class="fa fa-angle-right pull-right"></i>
                    </a>
                       
                    <!--___________________-->
                    <!-- children: subMenu -->
                    <!--___________________-->
                    <ul class="sidebar-submenu" *ngIf="childItem.children">
                        <li *ngFor="let childrenItem of childItem.children">
                            <!-- itemType: link -->
                            <a *ngIf="childrenItem.itemType==='link'" [routerLink]="childrenItem.routePath" routerLinkActive="active">
                                <i class="fa fa-circle"></i> <span>{{childrenItem.title}}</span>
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </li>
    </ul>
</div>