<div class="container-fluid">
    <div class="card">
        <div class="card-header">
            <h5>Users List</h5>
        </div>
        <div class="card-body" style="margin-bottom: -30px! important;">
            <a class="btn btn-secondary pull-right" routerLink="/users/add-user"> Add User</a>
        </div>
        <div class="card-body">
            <div class="category-table custom-datatable transcation-datatable userimage">
                <div class="table-responsive">
                    <!-- __________-->
                    <!-- View List -->
                    <!--___________-->
                    <!-- ngx-datatable -->
                    <ngx-datatable class="bootstrap" [rows]="objRows" [headerHeight]="50" [footerHeight]="50" [rowHeight]="'auto'" [columnMode]="'force'" [limit]="5">
                        <!-- <ngx-datatable-column name="First Name" prop="firstName"></ngx-datatable-column>
                        <ngx-datatable-column name="Last Name" prop="lastName"></ngx-datatable-column> -->
                        <ngx-datatable-column name="Name">
                            <ng-template ngx-datatable-cell-template let-row="row">
                                {{row.firstName + ' '+ row.lastName}}
                            </ng-template>
                        </ngx-datatable-column>
                        <ngx-datatable-column name="Email" prop="email"></ngx-datatable-column>
                        <ngx-datatable-column name="User Type" prop="userType"></ngx-datatable-column>
                        <ngx-datatable-column name="Created Date" prop="createdOn"></ngx-datatable-column>
                        <ngx-datatable-column name="Actions">
                           <ng-template ngx-datatable-cell-template let-row="row">
                                <button class="fa fa-edit" style="color:blue;" (click)="edit(row.id)"></button>
                                <button class="fa fa-trash mx-2" style="color:red;" (click)="delete(row.id)"></button>
                           </ng-template>
                        </ngx-datatable-column>
                    </ngx-datatable>
                    <!------------------->
                </div>
            </div>
        </div>
    </div>
</div>